<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string>0.ico</string>
		<key>desc</key>
		<string>&quot;战者，或为荣耀，或为赞颂。然此皆仅为战所存也。&quot;——亚托克斯</string>
		<key>name</key>
		<string>暗裔剑魔-亚托克斯</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>1.ico</string>
		<key>desc</key>
		<string>&quot;战者，或为荣耀，或为赞颂。然此皆仅为战所存也。&quot;——亚托克斯</string>
		<key>name</key>
		<string>暗裔剑魔-亚托克斯</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2.ico</string>
		<key>desc</key>
		<string>瞎子</string>
		<key>name</key>
		<string>盲僧</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>3.ico</string>
		<key>desc</key>
		<string>狐狸皮肤</string>
		<key>name</key>
		<string>狐狸</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>4.ico</string>
		<key>desc</key>
		<string>狐狸皮肤</string>
		<key>name</key>
		<string>狐狸</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>5.ico</string>
		<key>desc</key>
		<string>阿卡丽皮肤</string>
		<key>name</key>
		<string>阿卡丽</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>6.ico</string>
		<key>desc</key>
		<string>阿卡丽皮肤</string>
		<key>name</key>
		<string>阿卡丽</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>7.ico</string>
		<key>desc</key>
		<string>火男</string>
		<key>name</key>
		<string>布兰德</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>8.ico</string>
		<key>desc</key>
		<string>女警</string>
		<key>name</key>
		<string>皮城女警</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>9.ico</string>
		<key>desc</key>
		<string>蛇女皮肤</string>
		<key>name</key>
		<string>蛇女</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>10.ico</string>
		<key>desc</key>
		<string>蛇女皮肤</string>
		<key>name</key>
		<string>蛇女</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>11.ico</string>
		<key>desc</key>
		<string>诺克皮肤</string>
		<key>name</key>
		<string>诺克萨斯之手</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>12.ico</string>
		<key>desc</key>
		<string>皎月黑暗皮肤</string>
		<key>name</key>
		<string>皎月女神</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>13.ico</string>
		<key>desc</key>
		<string>德莱文皮肤</string>
		<key>name</key>
		<string>德莱文</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>14.ico</string>
		<key>desc</key>
		<string>未来战士</string>
		<key>name</key>
		<string>伊泽瑞尔</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>15.ico</string>
		<key>desc</key>
		<string>EZ皮肤</string>
		<key>name</key>
		<string>伊泽瑞尔</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>16.ico</string>
		<key>desc</key>
		<string>彩虹皮肤</string>
		<key>name</key>
		<string>人马</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>17.ico</string>
		<key>desc</key>
		<string>苹果机器人</string>
		<key>name</key>
		<string>蒸汽机器人</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>18.ico</string>
		<key>desc</key>
		<string>女主播</string>
		<key>name</key>
		<string>风女</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>19.ico</string>
		<key>desc</key>
		<string>风女皮肤</string>
		<key>name</key>
		<string>风女</string>
	</dict>
</array>
</plist>
